h1 {
	font-size: 72pt;
}
h2 {
	font-size: 36pt;
	font-style: italic;
}
h3 {
	font-size: 32pt;
}

#main {
	width: 50%;
	margin: 100px auto 100px auto;
}

input {
	width: 100%;
	font-size: 22pt;
	margin-top: 20px;
}