extends ../layouts/splash.jade

block append stylesheets
  link(href='/styles/variables/colours-high.css', rel='stylesheet', type='text/css')

block content
    #main
      h1 Ask a question.
      h2 (Make sure it's funny.)
      include ../includes/messages.jade
      form(action='/questions/ask',method='post')
        input(name='wording', id='question', type='text', placeholder='e.g., #{example_question}')