extends ../layouts/splash.jade

block append stylesheets
  link(href='/styles/variables/colours-high.css', rel='stylesheet', type='text/css')

block content
    #main
      h1 Ask a question.
      h2 (Make sure it's funny.)
      include ../includes/sessionflash.jade
      form(action='/questions/ask',method='post')
        textarea(name='wording', id='question', placeholder='e.g., "#{example_question}"' class="expanding")